/* General Defaults*/

body {
    background-color: lightblue;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

img {
max-width: 100%;
}
/* Sections*/

.item {
    background-color: #b0c3e6;
    border: 2px dashed pink;
    margin-bottom: 40px;
}

/* Typography */

h1 {
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    background-color: beige;
    color: pink;
    padding: 2px;
} 