/* General Defaults*/

body {
    background-color: lightblue;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {

    body{background-color: aquamarine;
    }
}

img, video, audio, iframe {
max-width: 100%;
}
/* Sections*/

.video-wrapper {
    
}

.item {
    background-color: #b0c3e6;
    border: 2px dashed pink;
    margin-bottom: 40px;
}

/* Typography */

h1 {
    text-align: center;
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2 {
    background-color: beige;
    color: pink;
    padding: 2px;
}   